@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #16a085;
  --color-secondary: #a01631;
}
.nav-text{
    @apply   text-gray-900 font-semibold dark:text-gray-100
}

.image-gallery-description {
  @apply text-center
}

nav a.active{
 color: rgb(238, 134, 134);
 border-bottom: 2px solid rgb(238, 134, 134);
}