@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #16a085;
  --color-secondary: #a01631;
}
.nav-text{
    @apply  md:pr-6 text-primary font-semibold
}

.image-gallery-description {
  @apply text-center
}

nav a.active{
  color:#a01631 ;
}